# The URL and domain of the WordPress site used in end-to-end tests.
WORDPRESS_URL=http://bitpay-wordpress.test
WORDPRESS_DOMAIN=bitpay-wordpress.test

# The username and password of the administrator user of the WordPress site used in end-to-end tests.
WORDPRESS_ADMIN_USER=admin
WORDPRESS_ADMIN_PASSWORD=admin

# The host and port of the ChromeDriver server that will be used in end-to-end tests.
CHROMEDRIVER_HOST=localhost
CHROMEDRIVER_PORT=4444

# WP settings. No need to init Wordpress
WORDPRESS_SHOP_SLUG=shop
WORDPRESS_PRODUCT_SLUG=products