name: Build

on: [push, pull_request]

jobs:
  phpcs:
    runs-on: ubuntu-20.04

    strategy:
      matrix:
        php-version: [ 8.0, 8.1, 8.2 ]

    steps:
      - uses: actions/checkout@v3
      - name: Run WordPress code standard
        run: |
          ./vendorPrefixed/vendor/bin/phpcs -v --ignore=vendor,vendorPrefixed,wpcs,scoper.inc.php --standard=./phpcs.xml ./
